{% extends "core/base.html" %}
{% load static %}

{% block main %}
<!------------------Login Form-------------------------------------->


<br><br> <br><br> <br><br>

<center>
    {% if messages %}
        
              {% for msg in messages %}
                <p {% if msg.tags %} class="alert alert-{{ msg.tags }}" {% endif %}>{{ msg }}</p>
              {% endfor %}
          
            {% endif %}
<div class="container">
    <h2 class="text-success text-center">Hello Welcome | {{ request.user.username }}</h2>

    <p class="text-success text-center">{{ request.user.username }} email : {{ request.user.email }}</p>

    <a href="{% url 'signout' %}" class="btn btn-danger text-center">Signout</a>
    <a href="{% url 'changepass' %}" class="btn btn-info text-center">Reset Password</a>
</div>
</center>
<br><br> <br><br> <br><br>

<!--------------------Single Product Section End-------------------------->


{% endblock main %}